* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset */

body {
    font-family: sans-serif;
}

/* i container hanno una dimensione fissa,  centrati orizzontalmente */
.container {
    /* border: dashed 2px black; */
    /* test */

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.container-small {
    /* background-color: #ee82ee; */
    /* test */

    max-width: 800px;

    margin-left: auto;
    margin-right: auto;
}


header,
section {
    padding: 40px 20px;
}


.bg-gray {
    background-color: #d3d3d3;
}




/* sezione navbar */
nav {
    background-color: #255EE8;
    /* test */
    padding: 10px;
}

nav .container>* {
    /* border: dashed 2px black; */
    /* test */

    padding: 10px;
}

nav .container {
    /* background-color: #daa520; */
    /* test */

    display: flex;
    align-items: center;

}

nav .logo {
    width: auto;
}


nav .nav-links {
    flex-grow: 1;
    font-weight: 400;
    font-size: 16px;
}

nav .nav-links a {
    color: white;
    text-decoration: none;
}

nav .nav-links ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 48px;
}


nav .login {
    width: 100px;
    text-align: right;
}

nav .login button {
    padding: 12px 16px;
    border-radius: 20px;
    font-weight: 400;
    border: none;
    background-color: white;
}

/* fine sezione navbar */



/* sezione hero */
#hero {
    /* background-color: #00008b; */
    /* test */

    background-image: url("/img/jumbo.png");
    background-size: cover;
}


#hero .container-small h1 {
    padding: 80px 32px 16px;

    font-weight: 900;
    font-size: 56px;
    text-align: center;

    color: white;
}

#hero .container-small p {
    padding: 24px;

    font-weight: 500;
    font-size: 18px;
    text-align: center;
    line-height: 32.5px;

    color: white;
}

#hero .container-small .cta {
    display: flex;
    justify-content: center;
    gap: 32px;

    margin-bottom: 160px;
}

#hero .container-small .cta button {
    padding: 18px 32px;

    border-radius: 50px;
    border: none;
    font-size: 18px;
}

/* #hero .container-small .cta button span {
    font-weight: 600;
} */

#hero .container-small .cta #download {
    background-color: white;
    color: #23272A;
}

#hero .container-small .cta #open {
    background-color: #23272A;
    color: white;
}



/* fine sezione hero */


/* sezioni bianche */
.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#study-group {
    margin-top: 120px;
    margin-bottom: 80px;
}


.column-big {
    flex-grow: 1;
    /* background-color: #1e90ff;
    height: 400px;
    border: dashed 2px black; */
    /* test */

    /* width: 60%; */
    /* flex-grow: 1; */
}

.column-big img {
    width: 80%;
}

.column-small {
    /* background-color: #ffc0cb;
    height: auto;
    border: dashed 2px black; */
    /* test */

    /* width: 40%; */
    width: 400px;
}

.column-small h2 {
    padding: 24px;

    font-size: 48px;
    font-weight: 900;
    text-align: left;
    line-height: 57.6px;

    color: #23272A;
}

.column-small p {
    padding: 8px 24px 12px;

    font-weight: 500;
    font-size: 18px;
    text-align: left;
    line-height: 32.5px;

    color: #23272A;
}


.big-content {
    /* background-color: #228b22;
    height: 600px; */
    /* test */
}

.white-waves {
    height: auto;
    margin-bottom: -4px;
}

.white-waves img {
    width: 100%;
    background-color: #f6f6f6;
    transform: scaleX(-1);
}

/* fine sezioni bianche */


/* sezioni grigie */
.grey-waves {
    height: auto;
    margin-bottom: -4px;
}

.grey-waves img {
    width: 100%;
    background-color: white;
}

.flip {
    transform: scaleX(1);
}

.bg-gray {
    background-color: #f6f6f6;
}

.p120 {
    padding: 120px 0px;
}

.mright120 {
    margin-right: 120px;
}

/* fine sezioni grigie */

/* sezione call to action */
.big-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.big-content h2 {

    font-size: 48px;
    font-weight: 900;
    text-align: center;
    line-height: 57.6px;

    color: #23272A;
}

.big-content h3 {

    padding-top: 28px;

    font-weight: bold;
    font-size: 32px;
    text-align: center;

    color: #23272A;

    background-image: url(/img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;

}

.big-content p {
    padding: 16px 120px;

    font-weight: 500;
    font-size: 18px;
    text-align: center;
    line-height: 32.5px;

    color: #23272A;
}

.big-content img {
    flex-grow: 1;
}

.big-content .download .stars {
    width: 100%;
}

.big-content .download {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.big-content button {

    margin-top: 48px;
    padding: 18px 32px;

    border-radius: 50px;
    border: none;
    font-size: 18px;

    background-color: #8EA1E1;
    color: white;
}

/* fine sezione call to action */

/* sezione footer */

footer {
    background-color: #23272a;
    /* test */

    padding: 80px;
}


/* footer .container>* {
    border: dashed 2px white; 

}
  */

footer #footer-top {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 0.5px solid #8EA1E1;
}

footer #footer-top .footer-links {
    /* background-color: #f08080;
    height: 500px; */
    width: 346px;
    /* test */

}

footer #footer-top .footer-links h3 {
    font-weight: bold;
    font-size: 32px;
    text-align: left;

    color: #8EA1E1;
}

footer #footer-top .footer-links .language {
    display: flex;
    justify-content: flex-start;

    color: white;
    margin: 24px 0;
    font-size: 14px;
}


footer #footer-top .footer-links img {
    width: 24px;
    margin-right: 4px;
}

footer #footer-top .footer-links span {
    margin-right: 4px;
}

footer #footer-top .footer-links .social {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}

footer #footer-top .footer-links .social img {
    width: 24px;
    fill: white;
}




footer #footer-top .footer-column {
    /* background-color: #20b2aa; */
    /* test */
    flex-grow: 1;
}

footer #footer-top .footer-column ul {
    padding: 0 40px;
    list-style-type: none;
    color: white;
}

footer #footer-top .footer-column li {
    margin-bottom: 12px;
}

footer #footer-top .footer-column ul .main {
    color: #8EA1E1;
    font-weight: 700;
}

footer hr {
    border: 0.5px solid #8EA1E1;
}


footer #footer-bottom {

    justify-content: space-between;
    padding: 16px 0;
    margin-top: 16px;

}

footer .button button {
    padding: 12px 16px;
    border-radius: 20px;
    font-weight: 400;
    border: none;

    background-color: #8EA1E1;
    color: white;
}

footer #footer-bottom>* {
    /* background-color: #ffb6c1; */
    /* test */

    padding: 4px 8px;
}

/* fine sezione footer */